body{
    margin: 0;
    padding: 0;
    /*background-color: #000000;*/
    opacity: 0.9;

}
.container{
    background-image:url("../images/start_window.png");
    width: 600px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;


}
.button{
    /*text-transform: uppercase;*/
    /*z-index: 2;*/
    /*color: #ffffff;*/
    /*background-color: #007227;*/

    /*float: left;*/
    /*text-align: center;*/
}
.play{
    background-image:url("../images/PLAY.png");
    width: 199px;
    height: 103px;
    position: absolute;
    top: 85%;
    left: 20%;
    transform: translate(-30%,-20%);
    z-index: 34;
}
.instruction{
    background-image:url("../images/INSTRUCTIONS.png");
    height: 103px;
    width: 199px;
    position: absolute;
    top: 85%;
    left: 70%;
    transform: translate(-30%,-20%);
    z-index: 34;
}
