* {
    overflow: hidden;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-width: 680px;
    width: 100%;
    height: 100%;
    font-family: 'Bangers', cursive;
    font-size: 25px;
}

body {
    background-color: #fff3de;
    z-index: -99;
    overflow-x: auto;
}

.bg1, .bg2 {
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
}

.bg1 {
    background-image: url("../images/background1.jpg");
    background-position-y: bottom;
    background-size: 70%;
    min-width: 680px;
    z-index: -98;
}

.bg2 {
    background-image: url("../images/background3.jpg");
    background-position-y: top;
    background-size: 22vw;
    min-width: 680px;
    z-index: -97;
}

.window_open {
    position: absolute;
    top: 3.6vw;
    transform: translate(-50%, 0);
    width: 15%;
    min-width: 128px;
    max-width: 180px;
    min-height: 195px;
    height: calc(15vw * 1.485);
    max-height: 267px;
    background-image: url("../images/open_window.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -96;
}

#positionOfWindow_1 {
    left: 10%;
}

#positionOfWindow_2 {
    left: 30%;
}

#positionOfWindow_3 {
    left: 50%;
}

#positionOfWindow_4 {
    left: 70%;
}

#positionOfWindow_5 {
    left: 90%;
}

#window_1, #window_2, #window_3, #window_4, #window_5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56%;
    height: 54%;
    z-index: -95;
}

.score {
    width: 100px;
    margin-left: 25px;
    float: left;
}

.life {
    background-image: url("../images/heart_2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 21px;
}

.heart {
    width: 21px;
    height: 23px;
    float: left;
}

.levels {
    float: right;
    width: 100px;
}

.lifes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topbar {
    position: absolute;
    min-width: 680px;
    width: 100%;
    height: 30px;
    padding: 5px;
}

.title_in_topbar {
    width: 55px;
    height: 25px;
    float: left;
}

@media (max-width: 680px) {
    #positionOfWindow_1 {
        left: 68px;
    }
    #positionOfWindow_2 {
        left: 204px;
    }
    #positionOfWindow_3 {
        left: 340px;
    }
    #positionOfWindow_4 {
        left: 476px;
    }
    #positionOfWindow_5 {
        left: 612px;
    }
}
