.beer {
    position: absolute;
    top: calc(3.6vw - 2vw + 7.5vw * 1.485 + 0.56 * 7.5vw * 1.485);
    background-image: url("../images/beer_bottle2.png");
    width: 15px;
    height: 58px;
    left: 93px;
    z-index: 3;
}

.crashBeer {
    width: 80px;
    height: 24px;
    position: absolute;
    z-index: 1;
    background-image: url("../images/broken-beer.png");
}

@media (min-width: 1200px) {
    .beer {
    top: calc(3.6vw + 185px);
    }
}
